---
import { profileConfig } from "@/config";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter(
  (tag) => tag
);
---

<aside>
  <div class="profile">
    <a href="/about">
      <div class="avatar">
        <img src={profileConfig.avatar} alt="" />
      </div>
    </a>
    <div class="title">{profileConfig.name}</div>
    <div class="bio">{profileConfig.bio}</div>
    <div class="social">
      {
        profileConfig.links.map((item) => (
          <a href={item.url} target="_blank" rel="noopener noreferrer">
            {item.icon ? (
              <Icon name={item.icon} width={35} height={35} />
            ) : null}
          </a>
        ))
      }
    </div>
  </div>
  <div class="tags-container">
    <span id="title">Tags</span>
    <div class="tags">
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`}>
            <span>{tag}</span>
          </a>
        ))
      }
    </div>
  </div>
</aside>

<style lang="scss">
  aside {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > * {
      background-color: var(--card-bg);
    }
    .profile {
      text-align: center;
      border-radius: 15px;
      a {
        .avatar {
          width: 256px;
          height: 256px;
          border-radius: 15px;
          overflow: hidden;
          margin: 12px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .title {
        font-size: 1.5em;
        margin: 12px;
      }
      .bio {
        margin: 12px;
      }
      .social{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 1rem;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: var(--d6-blue);
          color: var(--blue);
          transition: all 0.3s;
          &:hover {
            background-color: var(--blue);
            color: var(--d6-blue);
          }
        }
      }
    }
  }

  .tags-container {
    position: sticky;
    top: 1rem;
    padding: 12px;
    border-radius: 15px;
    #title {
      font-size: 1.2em;
      padding-left: 10px;
      border-left: 5px solid var(--primary);
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      margin: 5px;
      span {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--d6-blue);
        color: var(--blue);
        transition: all 0.3s;
        &:hover {
          background-color: var(--blue);
          color: var(--d6-blue);
        }
      }
    }
  }
</style>
