---
import { profileConfig } from "@/config";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter(
  (tag) => tag
);
---

<div class="w-280px gap-4" flex="~ col">
  <div class="sc-card text-center b-rd-4">
    <a href="/about">
      <div class="m-5 border-rd-4">
        <img src={profileConfig.avatar} alt="" />
      </div>
    </a>
    <div class="text-6 m-2">{profileConfig.name}</div>
    <div class="m-2">{profileConfig.bio}</div>
    <div class="sc-flex gap-3 m-3">
      {
        profileConfig.links.map((item) => (
          <a
            class="sc-flex sc-hover w-12 h-12 border-rd-50%"
            transition="all duration-0.3s"
            href={item.url}
            target="_blank"
          >
            {item.icon ? (
              <Icon name={item.icon} width={35} height={35} />
            ) : null}
          </a>
        ))
      }
    </div>
  </div>
  <div class="sc-card p-3 b-rd-4">
    <span class="text-5 px-2" border="l-5px solid primary">Tags</span>
    <div class="tags" flex="~ wrap justify-center">
      {
        tags.map((tag) => (
          <a m-5px href={`/tags/${tag}`}>
            <span class="sc-hover border-rd-1 p-y-5px p-x-10px sc-ts">
              {tag}
            </span>
          </a>
        ))
      }
    </div>
  </div>
</div>
